* {
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.trafficLight {
  max-width: 400px;
  width: 180px;
  height: 500px;
  border: 1px solid transparent;
  border-radius: 50px 50px 50px 50px;
  margin: 50px auto 0 auto;
  background: #585f68;
  box-shadow: 0 0 10px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.light {
  border: 1px solid transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.grey {
  opacity: 1;
  background-color: #585f68;
}

.light-red {
  opacity: 1;
  background-color: #df4040;
}

.light-yellow {
  opacity: 1;
  background-color: #e9ec6a;
}

.light-green {
  opacity: 1;
  background-color: #04ca00;
}
